@import "https://unpkg.com/open-props@1.6.14" layer(design-system.tokens);

@import "https://www.unpkg.com/layout-craft@0.1.1/dist/utilities.css"
  layer(design.utilities);
/* 
Source code of these utilities: 
https://github.com/mobalti/layout-craft/blob/main/lib/utilities.css 
*/

@layer base.normalize-overrides {
  :root {
    --nav-block-size: 3.75rem;
  --color-principal: hsl(15, 100%, 40%);
  --color-secundario: hsl(34, 96%, 59%);
  --color-fondo: hsl(0, 0%, 100%);
  --color-footer: hsl(15, 100%, 25%);
  --color-texto: hsl(0, 0%, 0%);
  --sombra: 0 2px 8px rgba(0, 0, 0, 0.1);
    @media (width >= 1024px) {
      --nav-block-size: 4.625rem;
    }
  }

  html {
    scroll-padding-block-start: var(--nav-block-size);
  }

  body a{
   
    text-decoration: none;
  }
}

@layer base.containers {
  main {
    background-color: var(--color-fondo);
    color: var(--color-texto);
  }

  .Hero {
    @media (width >= 1024px) {
      grid-template-columns: 1.5fr 1fr;
      --_gap: var(--size-10);
    }
  }
}
.Hero a{
  text-decoration: none;
}
@layer base.components {
  .Nav {
    position: fixed;
    inset-block-end: 0%;
    inset-inline: 0;
    block-size: var(--nav-block-size);
    z-index: var(--layer-3);

    background-color: hsl(0 0% 0%/ 0.1);

    backdrop-filter: blur(28px);
    @media (width >= 1024px) {
      background-color: var(--color-texto);
      font-size: 14px;
      position: sticky;
      inset-block-start: 0;
      inline-size: 100%;
      justify-items: end;
      padding-inline: var(--size-5);
    }
  }

  .Visual {
    & img {
      inline-size: 100%;
      block-size: 100%;
      object-fit: cover;
      object-position: center center;

      background: var(--gradient-8);
    }
    @media (width >= 1024px) {
      position: fixed;
      inline-size: 62%;
      block-size: calc(100dvb - var(--size-9));
      inset-block-start: var(--size-9);

      > * {
        grid-area: 1/1;
      }

      & img {
        border-radius: 0.5rem;
      }

      & picture {
        max-inline-size: 600px;
        aspect-ratio: var(--ratio-square);
        border-radius: 0.5rem;
      }
    }

    @media (1024px < width < 1440px) {
      & img {
        max-inline-size: 500px;
      }
    }

    @media (width < 1024px) {
      > * {
        min-block-size: calc(100dvb - var(--size-9));
      }

      picture {
        inline-size: 100%;
        block-size: 100%;
      }
    }
  }

  .Content {
    > * {
      min-block-size: calc(100dvb - var(--size-9));
    }
    & h3 {
      max-inline-size: 13ch;
      text-wrap: balance;
      font-size: 3.75rem;
      font-weight: var(--font-weight-7);
      line-height: var(--font-lineheight-0);
      padding-block-end: var(--size-4);
    }

    & p {
      max-inline-size: var(--size-content-2);
      font-size: var(--font-size-3);
    }

    .subhead {
      color: var(--color-footer);
      font-size: var(--font-size-6);
      font-weight: var(--font-weight-6);
      max-inline-size: var(--size-content-1);
      line-height: var(--font-lineheight-1);
      text-wrap: pretty;
    }

    @media (width < 1024px) {
      display: none;
    }

    @media (width < 1440px) {
      & h3 {
        font-size: var(--font-size-7);
      }

      .subhead {
        font-size: var(--font-size-5);
      }
    }
  }

  .SmallScreenContent {
    position: fixed;
    inset-inline: 0;
    inset-block-start: 0;
    min-block-size: var(--size-9);
    color: var(--color-texto);

    > * {
      grid-area: 1/1;
    }

    @media (width < 1024px) {
      background-color: var(--color-texto);
      > p {
        background-color: var(--color-texto);
        color: var(--color-fondo);
        inline-size: 100%;
        text-align: center;
        padding: var(--size-2);
        font-weight: var(--font-weight-5);

        box-shadow: var(--shadow-1);
      }
    }

    @media (width >= 1024px) {
      display: none;
    }
  }
}

@supports (animation-timeline: scroll()) {
  @layer animation.ScrollDriven {
    @media (width >= 1024px) {
      body {
        timeline-scope: --first-lockup, --second-lockup, --third-lockup;
      }

      picture {
        inline-size: 400px;
        transform-origin: bottom left;

        > img {
          box-shadow: var(--shadow-4);
        }
      }

      .FirstPic {
        > img {
          rotate: 8deg;
        }
      }

      .SecondPic {
        animation: auto slide-out-rotate linear both;
        animation-timeline: --third-lockup;

        > img {
          rotate: -5deg;
        }
      }

      .ThirdPic {
        animation: auto slide-out-rotate linear forwards;
        animation-timeline: --second-lockup;

        > img {
          rotate: 20deg;
        }
      }

      .FirstLockup {
        view-timeline-name: --first-lockup;
      }

      .SecondLockup {
        view-timeline-name: --second-lockup;
      }

      .ThirdLockup {
        view-timeline-name: --third-lockup;
      }
    }
  }

  @media (width >= 1440px) {
    .Visual picture {
      inline-size: 500px;
    }
  }
  @media (width >= 1600px) {
    .Visual picture {
      inline-size: 512px;
    }
  }

  @media (width < 1024px) {
    body {
      timeline-scope: --first-pic, --second-pic, --third-pic;
    }

    .SmallScreenContent {
      > p {
        animation: auto reveal linear both;
        animation-range: cover 45%;
      }

      .FirstStory {
        animation-timeline: --first-pic;
      }

      .SecondStory {
        visibility: hidden;
        animation-timeline: --second-pic;
      }

      .ThirdStory {
        visibility: hidden;
        animation-timeline: --third-pic;
      }
    }

    .FirstPic {
      view-timeline-name: --first-pic;
    }

    .SecondPic {
      view-timeline-name: --second-pic;
    }

    .ThirdPic {
      view-timeline-name: --third-pic;
    }
  }

  .pagination {
    position: fixed;
    inset-block-end: var(--size-8);
    z-index: var(--layer-3);

    & a {
      --size: var(--size-3);
      block-size: var(--size);
      inline-size: var(--size);
      border: var(--border-size-1) solid var(--color-footer);
      border-radius: var(--radius-round);

      animation: highlight linear both;

      &:nth-child(1) {
        animation-timeline: --first-lockup;
      }
      &:nth-child(2) {
        animation-timeline: --second-lockup;
      }
      &:nth-child(3) {
        animation-timeline: --third-lockup;
      }
    }

    @media (width < 1024px) {
      display: none;
    }
  }
}

@supports not (animation-timeline: scroll()) {
  .pagination {
    display: none;
  }
}

@keyframes slide-out-rotate {
  50%,
  100% {
    transform: translate(-50%, 50%) rotate(-50deg);
  }

  40%,
  100% {
    opacity: 0;
  }
}

@keyframes reveal {
  to {
    visibility: visible;
  }
}

@keyframes highlight {
  50% {
    background-color: hsl(15, 100%, 40%);
  }
}
/* ===============================================
   COMPONENTES - BOTONES
   =============================================== */
.btn-cta{
  color: var(--color-footer);
  background-color: transparent;
  border: 3px solid var(--color-secundario);
  border-radius: 0.25rem;
  padding: 0.625rem 1.5rem;
  font-family: "FiraSans-light";
  font-weight: 600;
  display: inline-block;
  transition: var(--transition-base);
  /* opacity: 0.5; */
}
.btn-cta:hover,
.btn-cta:focus {
  background-color: var(--color-footer);
  border-color: var(--color-footer);
  color: var(--color-secundario);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.btn-primary.active,
.btn-primary:focus-visible {
  background-color: var(--color-footer);   /* color principal */
  color: var(--color-secundario);
}
.btn-outline-primary:hover {
  background-color: var(--color-footer);
  color: var(--color-secundario);
}
.cta-group:has(.btn-outline-primary:hover) .btn-primary.active {
  background-color: transparent;
  border-color: var(--color-secundario);
  color: var(--color-footer);
  box-shadow: none;
  transform: none;
}



:where(.block){display:grid}:where(.block-start-start){display:grid;align-items:start;justify-items:start}:where(.block-start-center){display:grid;align-items:start;justify-items:center}:where(.block-start-end){display:grid;align-items:start;justify-items:end}:where(.block-center-start){display:grid;align-items:center;justify-items:start}:where(.block-center-center){display:grid;align-items:center;justify-items:center}:where(.block-center-end){display:grid;align-items:center;justify-items:end}:where(.block-end-start){display:grid;align-items:end;justify-items:start}:where(.block-end-center){display:grid;align-items:end;justify-items:center}:where(.block-end-end){display:grid;align-items:end;justify-items:end}:where(.inline){display:grid;grid-auto-flow:column}:where(.inline-start-start){display:grid;grid-auto-flow:column;align-items:start;justify-items:start}:where(.inline-start-center){display:grid;grid-auto-flow:column;align-items:start;justify-items:center}:where(.inline-start-end){display:grid;grid-auto-flow:column;align-items:start;justify-items:end}:where(.inline-center-start){display:grid;grid-auto-flow:column;align-items:center;justify-items:start}:where(.inline-center-center){display:grid;grid-auto-flow:column;align-items:center;justify-items:center}:where(.inline-center-end){display:grid;grid-auto-flow:column;align-items:center;justify-items:end}:where(.inline-end-start){display:grid;grid-auto-flow:column;align-items:end;justify-items:start}:where(.inline-end-center){display:grid;grid-auto-flow:column;align-items:end;justify-items:center}:where(.inline-end-end){display:grid;grid-auto-flow:column;align-items:end;justify-items:end}:where(.inline-wrap){display:flex;flex-wrap:wrap}:where(.space-between){justify-content:space-between}:where(.space-between-block){align-content:space-between}:where(.gap-1){--_gap: initial;gap:var(--_gap, .5rem)}:where(.gap-2){--_gap: initial;gap:var(--_gap, 1rem)}:where(.gap-3){--_gap: initial;gap:var(--_gap, 1.5rem)}:where(.gap-4){--_gap: initial;gap:var(--_gap, 2rem)}:where(.content-1){--_content: initial;inline-size:min(100%,var(--_content, 370px))}:where(.content-2){--_content: initial;inline-size:min(100%,var(--_content, 620px))}:where(.content-3){--_content: initial;inline-size:min(100%,var(--_content, 1230px))}:where(.content-4){--_content: initial;inline-size:min(100%,var(--_content, 1600px))}:where(.content-full){inline-size:100%}